:root {
  --ikemen-color: #20bafa;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: sans-serif;
    text-align: center;
    background-color: #202020;
    color: white;
}

.headline {
    height: 30em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1em var(--ikemen-color) solid;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 1.25em;
}

a {
    color: var(--ikemen-color);
    transition: 0.1s;
}

a:hover {
    color: cyan;
}

.info-box {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 20em;
    transition: 2s;
}

.logo:hover {
    filter: drop-shadow(0px 0px 1em var(--ikemen-color));
}

.releases-button {
    width: fit-content;
    height: fit-content;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    padding: 15px;
    background-color: var(--ikemen-color);
    text-decoration: none;
    font-weight: bold;
    border-radius: 3em;
    color: white;
    transition: 0.3s;
}

.releases-button:hover {
    background-color: cyan;
    color: black;
}

.releases-button:active {
    background-color: black;
    color: var(--ikemen-color);
    transition: 0.1s
}

.link-buttons {
    width: 80px;
    height: 32px;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link-buttons-a img {
    width: 32px;
    height: auto;
}

.filter-white {
    filter: invert(99%) sepia(17%) saturate(228%) hue-rotate(197deg) brightness(112%) contrast(100%);
}

.filter-gray {
    filter: invert(99%) contrast(10%);
}

.menu-bar, .footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4em;
    overflow: hidden;
    background-color: #00000066;
}

.menu-bar a {
    align-items: center;
    display: flex;
    height: 4em;
    padding: 1em;
    color: gray;
    text-decoration: none;
    transition: 0.1s;
}

.menu-bar a:hover {
    color: white;
}

.menu-bar a:hover .filter-gray {
    filter: invert(99%) contrast(100%);
    transition: 0.1s;
}

.feature-section {
    min-height: 100vh;
    padding: 5em;
    font-size: 1.5em;
    background-color: #666;
}

.feature-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}

.feature {
    display: block;
    color: white;
    background-color: #222;
    border-radius: 0.5em;
    width: 16em;
    min-height: 20em;
    margin: 0.5em;
    transition: 0.25s;
}

.feature p {
    padding: 0.5em;
    font-size: 0.75em;
}

.feature:hover {
    filter: drop-shadow(0px 0px 0.2em black);
}

.feature img {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    width: 100%;
    max-height: 40%;
    object-fit: cover;
}

.footer {
    display: block;
    justify-content: center;
    bottom : 0;
}

.footer * {
    padding: 0.5em;
}