* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: sans-serif;
    text-align: center;
    background-color: #202020;
    color: white;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 48px;
}

a {
    color: cornflowerblue;
    transition: 0.1s;
}

a:hover {
    color: cyan;
}

.info-box {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: fit-content;
    height: fit-content;

}

.logo img {
    width: 40%;
    height: 40%;
}

.releases-button {
    width: fit-content;
    height: fit-content;
    margin-top: 32px;
    padding: 15px;
    background-color: cornflowerblue;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.releases-button:hover {
    background-color: cyan;
    color: black;
}

.link-buttons {
    width: 80px;
    height: 32px;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link-buttons-a img {
    width: 32px;
    height: auto;
}

.filter-white {
    filter: invert(99%) sepia(17%) saturate(228%) hue-rotate(197deg) brightness(112%) contrast(100%);
}

.filter-gray {
    filter: invert(99%) contrast(10%);
}

.menu-bar, .footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4em;
    overflow: hidden;
    background-color: #00000066;
}

.menu-bar a {
    float: left;
    padding: 0.5em;
    color: gray;
    text-decoration: none;
    transition: 0.1s;
}

.menu-bar a:hover {
    color: white;
}

.filter-gray:hover {
    filter: invert(99%) contrast(100%);
    transition: 0.1s;
}

.footer {
    display: block;
    justify-content: center;
    position: absolute;
    bottom : 0;
}

.footer * {
    padding: 0.5em;
}